<div class="container minHeight">
  <div class="row">
    <div class="col s12">
      <nav>
        <div class="nav-wrapper" id="breadCrumbs">
          <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            <a href="/user" class="breadcrumb">Members Listing</a>
            <a href="" class="breadcrumb">User Profile</a>
          </div>
        </div>
      </nav>

      <div class="card blue-grey darken-4">
        <div class="card-content grey-text text-lighten-2">
          <div class="row">
            <div class="col s3">
              <img src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg" alt=""
                   class="circle responsive-img">
            </div>
            <div class="col s9">
              <h3><%= user.firstName + " " + user.lastName %></h3>
              <p style="margin-top:-15px; margin-bottom:10px; margin-left: 1px; "><%= user.email%></p>
              <div class="divider"></div>
              <br/>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum ex nec volutpat
                sollicitudin. Nulla eu neque iaculis mi tincidunt gravida. Nunc efficitur hendrerit enim,
                non malesuada quam iaculis iaculis. Nam eu egestas lectus. Pellentesque commodo neque nec
                lacus ultrices sodales. Cras at luctus ligula. Nullam vulputate mollis commodo. Nam id malesuada
                elit. Nam cursus risus sed libero consectetur auctor. Etiam elementum dui luctus augue commodo
                tempus. Aliquam eu nisl turpis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

